.blood-bankcarousel {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}
.blood-bank-image-overlay {
  position: absolute;
  top: 90px;
  left: 90px;
  right: 90px;
  bottom: 90px;
  background-color: white;
  border: 15px inset rgba(145, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0.85;
}

.bb-carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.bb-carousel-slide.active {
  opacity: 1;
}
.bb-carousel-caption{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
color: #000000;
padding: 210px;
flex-direction: column;
align-items: center;  
display: flex;
  justify-content: center;
}
.bb-carousel-caption h5{
  text-shadow: 3px 2px 5px rgba(255, 10, 10, 0.207);
  font-size: 39px;
  font-weight: 700;
}

.bb-donate-button {
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 18px;
  background-color: #d60000;
  color: white;
  border: none;
  border-radius: 4px;
}
.bb-donate-button {
  transition-duration: 0.4s;
}

.bb-donate-button:hover {
  background-color:  rgb(255, 6, 6);
  color: white;
}

.bb-join-button {
  margin-top: 0;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #d60000;
  color: white;
  border: none;
  border-radius: 4px;
}
.bb-join-button {
  transition-duration: 0.4s;
}
.bb-join-button:hover{
  background-color: rgb(255, 6, 6);
  color: white;
}
.bb-prev-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgb(90, 8, 8);
  color: rgb(18, 11, 11);
  font-size: 24
}
.bb-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgb(90, 8, 8);
  color: rgb(18, 11, 11);
  font-size: 24
}